#AddDevicePage {
  min-width: 950px;
}


#AddDevicePage-ContentPanel {
  margin-top: 50px;
}

#AddDevicePage-ContentPanel-DevicesPanel {
  display: inline-block;
  width: 500px;
  margin-left: 100px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel {
  
}
#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel-SearchStatusLabel {
  font-size: 20px;
}
#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel-ScanButton {
  margin-left: 50px;
}

#AddDevicePage-ContentPanel-DevicesPanel-DevicesList {
  min-height: 200px;
  margin-top: 20px;
  padding: 10px;
  
  border-color: black;
  border-width: 1px;
  border-style: solid;
}


#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel {
  margin-top: 30px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel-CancelButton {
  padding: 5px 20px 5px 20px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel-AddDevicesButton {
  float: right;
  padding: 5px 20px 5px 20px;
}


#AddDevicePage-ContentPanel-ProgressPanel {
  display: inline-block;
  margin-left: 200px;
  margin-top: 50px;
  vertical-align: top;
}

#AddDevicePage-ContentPanel-ProgressPanel-DiscoveryInProgress {
  width: 200px;
  height: 200px;
  
  background-image: url(../../../shared_tools/web/imgs/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.discovered-device {
  margin-bottom: 10px;
  padding: 5px;
  
  background-color: rgb(245, 215, 120);
  
  border-radius: 5px;
}
.discovered-device .device-selection {
  margin-left: 30px;
  vertical-align: top;
  margin-top: 30px;
}
.discovered-device .device-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 30px;
  
  background-color: lightgray;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.discovered-device .device-name {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 30px;
  
  font-size: 20px;
}

