#AddDevicePage {
  min-width: 950px;
}


#AddDevicePage-ContentPanel {
  margin-top: 50px;
}

#AddDevicePage-ContentPanel-DevicesPanel {
  display: inline-block;
  width: 500px;
  margin-left: 100px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel {
  
}
#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel-SearchStatusLabel {
  font-size: 20px;
}
#AddDevicePage-ContentPanel-DevicesPanel-ScanStatusPanel-ScanButton {
  margin-left: 50px;
}

#AddDevicePage-ContentPanel-DevicesPanel-DevicesList {
  min-height: 200px;
  margin-top: 20px;
  padding: 10px;
  
  border-color: black;
  border-width: 1px;
  border-style: solid;
  
  background-color: rgb(245, 215, 120);
}

#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel {
  margin-top: 30px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel-CancelButton {
  padding: 5px 20px 5px 20px;
}

#AddDevicePage-ContentPanel-DevicesPanel-ButtonsPanel-AddDevicesButton {
  float: right;
  padding: 5px 20px 5px 20px;
}


#AddDevicePage-ContentPanel-RightPanel {
  display: inline-block;
  margin-top: 50px;
  vertical-align: top;
  width: calc(100% - 600px);
  
  text-align: center;
}

#AddDevicePage-ContentPanel-RightPanel-DiscoveryInProgressIndicator {
  display: inline-block;
  width: 100px;
  height: 100px;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#AddDevicePage-ContentPanel-RightPanel-AddByIdPanel {
  margin-top: 50px;
}
#AddDevicePage-ContentPanel-RightPanel-AddByIdPanel-AddByIdLabel {
  display: block;
  
  font-size: 20px;
}
#AddDevicePage-ContentPanel-RightPanel-AddByIdPanel-AddByIdButton {
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
}




.discovered-device {
  padding: 5px;
}
.discovered-device .device-selection {
  margin-left: 30px;
  margin-top: 27px;
  vertical-align: top;
  --checkbox_size: 20px;
}
.discovered-device .device-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 30px;
  
  background-color: lightgray;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.discovered-device .device-name {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 30px;
  
  font-size: 20px;
  font-weight: bold;
}
.discovered-device .device-id {
  display: inline-block;
  float: right;
  margin-top: 50px;
  margin-right: `10px;
  
  font-size: 12px;
}


