#DeviceManagementPage {
  text-align: center;
  min-width: 950px;
}


#DeviceManagementPage-ContentPanel {
  display: inline-block;
  width: 90%;
  margin-top: 50px;
}

#DeviceManagementPage-ContentPanel-ToolbarPanel {
  text-align: left;
}
#DeviceManagementPage-ContentPanel-ToolbarPanel-ManualModeButton {
}
#DeviceManagementPage-ContentPanel-ToolbarPanel-DeviceSettingsButton {
  float: right;
}

#DeviceManagementPage-ContentPanel-ProgramSelectionPanel {
  margin-top: 20px;
  padding: 5px;
  
  border-width: 1px;
  border-style: solid;
}

#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ScheduleControlPanel {
  text-align: left;
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ScheduleControlPanel-ProgramSelectionLabel {
  font-size: 30px;
  text-align: left;
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ScheduleControlPanel-TriggersList {
  display: inline-block;
  width: 200px;
  
  margin-left: 30px;
}

#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ProgramSelectionList {
  margin-left: 20px;
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ProgramButtonsPanel {
  margin-top: 20px;
  text-align: left;
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ProgramButtonsPanel-RemoveSelectedButton {
  margin-right: 50px;
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ProgramButtonsPanel-AddProgramButton {
}
#DeviceManagementPage-ContentPanel-ProgramSelectionPanel-ProgramButtonsPanel-ManageProgramsButton {
  float: right;
}

#DeviceManagementPage-ContentPanel-ButtonsPanel {
  margin-top: 20px;
  text-align: left;
}
#DeviceManagementPage-ContentPanel-ButtonsPanel-CancelButton {
}
#DeviceManagementPage-ContentPanel-ButtonsPanel-RunButton {
  float: right;
}
#DeviceManagementPage-ContentPanel-ButtonsPanel-StopButton {
  float: right;
  margin-right: 20px;
}



#DeviceManagementPage .program-item {
  text-align: left;
}
#DeviceManagementPage .program-item .program-selection {
  vertical-align: middle;
  margin-left: 30px;
}
#DeviceManagementPage .program-item .program-title {
  vertical-align: bottom;
  margin-left: 30px;
}
#DeviceManagementPage .program-item .program-frequency {
  float: right;
  width: 100px;
  margin-top: -2px;
  margin-right: 30px;
  
  color: green;
  background-color: inherit;
}
