#DeviceSelectionPage {
  text-align: center;
  min-width: 950px;
}


#DeviceSelectionPage-ContentPanel {
  display: inline-block;
  width: 90%;
  margin-top: 50px;
}

#DeviceSelectionPage-ContentPanel-InitialUpdatePanel {
  display: inline-block;
  width: 500px;
}
#DeviceSelectionPage-ContentPanel-InitialUpdatePanel-StatusLabel {
  display: block;
  font-size: 20px;
}
#DeviceSelectionPage-ContentPanel-InitialUpdatePanel-ButtonsPanel {
  margin-top: 30px;
  text-align: right;
}
#DeviceSelectionPage-ContentPanel-InitialUpdatePanel-ButtonsPanel-AddButton {
}



#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel {
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-DeviceSelectionLabel {
  display: block;
  font-size: 20px;
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-DeviceSelector {
  margin-top: 10px;
  height: 200px;
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-ButtonsPanel {
  margin-top: 30px;
  text-align: left;
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-ButtonsPanel-RefreshButton {
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-ButtonsPanel-AddButton {
  float: right;
}

.device {
  width: 166px;
  height: 166px;
}
.device .device-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  
  background-color: lightgray;

  background-image: url(../../../shared_tools/web/imgs/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.device .device-name {
  display: block;
  margin-top: 5px;
  text-align: center;
  
  font-size: 20px;
  font-weight: bold;
}
.device .device-id {
  display: block;
  margin-top: 5px;
  text-align: center;
  
  font-size: 12px;
}
.device .device-indicator {
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  
  background-color: white;
}
.device .device-indicator.device-inactive {
  background-color: yellow;
}
.device .device-indicator.device-connected {
  background-color: green;
}
.device .device-indicator.device-offline {
  background-color: red;
}

