#DeviceSelectionPage {
  text-align: center;
  min-width: 950px;
}


#DeviceSelectionPage-ContentPanel {
  display: inline-block;
  width: 500px;
  margin-top: 50px;
}

#DeviceSelectionPage-ContentPanel-NoDevicesAvailableLabel, #DeviceSelectionPage-ContentPanel-UpdatingDevicesLabel {
  display: block;
  
  font-size: 20px;
}


#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel {
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-DeviceSelectionLabel {
  display: block;
  
  font-size: 20px;
}

#DeviceSelectionPage-ContentPanel-DeviceSelectionPanel-DeviceSelector {
  margin-top: 10px;
}

#DeviceSelectionPage-ContentPanel-ButtonsPanel {
  margin-top: 30px;
  text-align: right;
}

#DeviceSelectionPage-ContentPanel-ButtonsPanel-AddButton {
  padding: 5px 20px 5px 20px;
}


