#AddDeviceByIdDialog {
}
#AddDeviceByIdDialog-ContentPanel {
}
#AddDeviceByIdDialog-ContentPanel-DescriptionLabel {
  display: block;
  margin-right: 20px;
}
#AddDeviceByIdDialog-ContentPanel-SnLabel {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  
  width: 150px;
}
#AddDeviceByIdDialog-ContentPanel-DeviceSnInput {
  width: 100px;
}
#AddDeviceByIdDialog-ContentPanel-VerificationLabel {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  
  width: 150px;
}
#AddDeviceByIdDialog-ContentPanel-VerificationInput {
  width: 100px;
}


#UploadStockProgramDialog-ContentPanel {
  overflow: visible;
}
#UploadStockProgramDialog-ContentPanel-CategoryLabel {
  vertical-align: top;
}
#UploadStockProgramDialog-ContentPanel-CategoryChooser {
  display: inline-block;
  width: 200px;
  
  margin-left: 20px;
}
