#ManualModePage {
  text-align: center;
  min-width: 950px;
}


#ManualModePage-ContentPanel {
  display: inline-block;
  width: 90%;
  margin-top: 50px;
  
  text-align: left;
}

#ManualModePage-ContentPanel-CommandsLabel {
  font-size: 30px;
}

#ManualModePage-ContentPanel-CommandsPanel {
  position: relative;
  margin-top: 20px;
  
  height: 250px;
  
  border-style: solid;
  border-width: 1px;
}

#ManualModePage-ContentPanel-CommandsPanel-MoveUpButton {
  position: absolute;
  width: 150px;
  top: 30px;
  left: 200px;
}

#ManualModePage-ContentPanel-CommandsPanel-MoveDownButton {
  position: absolute;
  width: 150px;
  top: 190px;
  left: 200px;
}

#ManualModePage-ContentPanel-CommandsPanel-TurnLeftButton {
  position: absolute;
  width: 150px;
  top: 110px;
  left: 50px;
}

#ManualModePage-ContentPanel-CommandsPanel-TurnRightButton {
  position: absolute;
  width: 150px;
  top: 110px;
  left: 350px;
}

#ManualModePage-ContentPanel-CommandsPanel-EyeControlButton {
  position: absolute;
  width: 150px;
  top: 110px;
  left: 580px;
}

#ManualModePage-ContentPanel-CommandsPanel-TalkButton {
  position: absolute;
  width: 150px;
  top: 110px;
  left: 800px;
}


#ManualModePage-ContentPanel-ButtonsPanel {
  margin-top: 50px;
  text-align: left;
}
#ManualModePage-ContentPanel-ButtonsPanel-CancelButton {
}
#ManualModePage-ContentPanel-ButtonsPanel-ResetButton {
  float: right;
}
