[Unit]
Description=Helloween Controller Upgrade service
After=dhcpcd.service

[Service]
Type=simple
ExecStart=/home/pi/hween/code_upgrade.sh
Restart=always

[Install]
WantedBy=multi-user.target

