[Unit]
Description=Helloween Controller Upgrade service

[Service]
Type=forking
ExecStart=/home/pi/hween/start_code_upgrade.sh
Restart=always

[Install]
WantedBy=multi-user.target

